#
*.exe
*.sh
*Tag
*.txt
*.png
*.geo
*.html
*.avs
*.msh
*.asv
*.mat
*.fig
*.avi
*.log
*.geo
*.msh
*.pdf
*.aux
*.bbl
*.blg
*.nc
*.kmz
*.pos
resources/







*.mp4

*.jpg
